:root {
  --Gold: #d4af37;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  padding-right: 10rem;
  position: fixed;
  z-index: 999;
}

nav .logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Gold);
  font-size: 30px;
  text-transform: uppercase;
  filter: drop-shadow(0 0 12px rgba(212, 175, 55, 0.6));
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav .menu {
  width: 400px;
  transition: .75s ease-in-out;
  transition-delay: 1300ms;
}

nav .menu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

nav .menu ul li a:hover {
  color: var(--Gold);
}

nav .menu ul li .a-head {
  width: 100px;
  height: 30px;
  background-color: var(--Gold);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  text-transform: uppercase;
  border: 1px solid #fff;
}

nav .menu ul li .a-head:hover {
  color: #333;
  /* transform: translateY(-5px); */
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.6);
}

nav .icon {
  color: #fff;
  font-size: 30px;
  display: none;
  cursor: pointer;
}

/* 📱 เมนูมือถือ */
nav .menu-mobile {
  max-height: 0;
  overflow: hidden;
  background-color:transparent;
  backdrop-filter: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 0;
  transition: max-height .55s ease-in-out, padding .35s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

nav .menu-mobile ul li {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

nav .menu-mobile ul li a {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 18.5px;
  border-bottom: 1px solid #fff;
}

nav .menu-mobile ul li a:hover {
  background-color: var(--Gold);
  color: #111;
}

nav .menu-mobile ul li .a-head {
  font-weight: bold;
}

/* 🔓 แสดงตอนเปิด */
nav .menu-mobile.show {
  max-height: 500px;
  padding: 1rem 0;
  backdrop-filter: blur(5px); /* ✅ เอฟเฟกต์เบลอ */
}

.slide-bottom{
    transform: translateY(-30px);
    opacity: 0;
}
.slide-bottom.visible{
    transform: translateY(0);
    opacity: 1;
}
@media (max-width: 480px) {
  nav .menu {
    display: none;
    
  }

  nav .icon {
    display: block;
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 35px;
    opacity: 0.8;
  }

  nav .logo {
    font-size: 20px;
    padding-top: 2.5rem;
  }
}
